Form{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin-left:450px;
    margin-right: 450px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(219, 221, 245);
    
}
/*label{
    margin:50px
}*/
.Label_input{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
    

Form.Check{ 
    display: flex;
    justify-content: baseline;

}
.Btn{
    display:flex;
    margin-right:100px;
    justify-content: flex-end;
}
button{
    width: 100px;
}